<div style="text-align:center">
    <h1>
        Bienvenue sur {{ title }} !
    </h1>
    <p class="help is-success">Le site de petites annonces qui déchirent</p>
    <img width="150" alt="Angle Logo" src="../../assets/img/cube_orange.svg.hi.png">
</div>

<div class="columns">
    <div class="column" *ngFor="let advert of adverts">
        <div class="card">
            <a routerLink="details/{{advert?.id}}">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ file_src }}" alt="Placeholder image" height="500">
                    </figure>
                </div>
                <div class="card-content">
                        <p class="title is-6">{{advert?.title}}</p>
                        <p class="subtitle is-4">{{advert?.price}} €</p>
                    <br>
                    <div >
                            <p class="is-right">{{advert?.location_id}}</p>
                            <p class="is-left">{{advert?.category_id}}</p>
                    </div>
                    <time datetime="2016-11-1">
                        {{advert?.created_at}}
                    </time>
                    <br><br>
                    <div class="content">
                        {{advert?.description}}.
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!--<div class="columns">
    <div class="column">
        <nav class="pagination is-centered is-small" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div>
</div>-->
