<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content is-left">
                <p class="subtitle is-4">{{advert?.title}}</p>

                <div class="media" *ngFor="let user of users">
                    {{user?.firstname}}
                </div>

                <div class="card-content is-right">
                    <div class="media-left" *ngFor="let location of locations">
                        {{location?.name}}
                    </div>

                    <div class="card-content is-right" *ngFor="let category of categories">
                        <div class="media-left" *ngIf="advert.category_id == category.id">
                            {{category?.name}}
                        </div>

                        <div class="media-content">
                            <p class="subtitle is-6">{{advert?.price}} €</p>
                        </div>
                    </div>
                    <div class="content">
                        {{advert?.description}}
                        <br>
                        <time datetime="2016-1-1">{{advert?.created_at}}</time>
                    </div>
                </div>
                        <a routerLink="reponse/{{advert?.user_id}}" class="button is-primary">Envoyer un message</a>
            </div>
        </div>
    </div>
</div>
