<!--<h1 class="is-centered">Ajouter une annonce</h1>
<div class="column">
  <form>
    <div class="field">
      <label class="label" for="title">Titre</label>
      <div class="control">
        <input class="input" type="text" placeholder="Titre" id="title" name="title" required>
      </div>
    </div>
    <div class="field">
      <label class="label" for="price">Prix</label>
      <div class="control">
        <input class="input" type="number" placeholder="Prix" id="price" name="price" required
               [(ngModel)]="NewAdvert.price">
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
                <textarea class="textarea" placeholder="Ici la description" name="description"></textarea>
      </div>
    </div>
    &lt;!&ndash;select&ndash;&gt;

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox">
          I agree to the <a href="#">terms and conditions</a>
        </label>
      </div>
    </div>
    <div class="field">
      <div class="file has-name">
        <label class="file-label">
          <input class="file-input" type="file" name="resume" id="pic">
          <span class="file-cta">
                        <span class="file-icon"><i class="fa fa-upload"></i></span>
                        <span class="file-label">Choose a file…</span>
                    </span>
          <span class="file-name">Met le fichier wesh</span>
        </label>
      </div>
    </div>
    <div class="field">
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="submit" [disabled]="!NewAdvert.form.valid">Submit</button>
        </div>
        <div class="control">
          <button class="button is-text">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="field">
  &lt;!&ndash;
          <div class="control is-left">
            <label class="file-label">Categories
            </label>
            <div class="select">
              <select title="categories" id="category" name="category">
                <option *ngFor="let category of categories" [value]="category">{{category?.name}}</option>
              </select>
            </div>
          </div>
  &ndash;&gt;
  <div class="control is-right">
    <label class="file-label">Départements</label>
    <div class="select">
      <select title="locations" id="location" name="location" [(ngModel)]="locations.id">
        <option *ngFor="let location of locations" [value]="location">{{location}}</option>
      </select>
    </div>
  </div>
</div>-->
<label for="i">
  <select name="i" id="i">
    <option *ngFor="let location of locations" [value]="i">{{location?.name}}</option>
  </select>
</label>
